.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
  font-family: Arial, sans-serif;
}

.title {
  margin: 0;
  text-align: center;
}

.nav {
  margin-top: 10px;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

a {
  color: #ffffff;
}

