.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.product {
  margin: 20px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.product img {
  max-width: 100%;
  height: auto;
}

