<div class="product-list">
  <div *ngFor="let product of products" class="product">
    <img (click)="getProductDetail(product.id)" [src]="product.url" alt="{{ product.name }}">
    <div class="product-details">
      <h2 (click)="getProductDetail(product.id)">{{ product.name }}</h2>
      <p>Price: {{ product.price }}<b>$</b></p>
      <div class="quantity-selector">
        <label>Quantity:</label>
        <select id="numberSelect" [(ngModel)]="selectedQuantities[product.id]" (ngModelChange)="updateSelectedQuantity(product, $event)">
          <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="i" [selected]="i === 1">{{ i }}</option>
        </select>
      </div>
<!--      <button class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</button>-->
    </div>
  </div>
</div>
